body {
  margin: 0;
  padding: 0;
  background-color: #000230;
}

.container {
  .header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    background-color: #000230;

    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    color: #7d6060;

    .logo {
      padding: 10px 50px;
      display: flex;
      align-items: center;
      .projectName {
        font-size: 2rem;
        padding: 0px 5px;
      }
    }
    .links {
      display: flex;
    }
  }
  .content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
